# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [167]:
  %reload_ext autoreload

In [168]:
import pandas as pd 
from Functions import *
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [190]:
df.rename(columns={
        "Customer": "customer",
        "ST": "state",
        "GENDER": "gender",
        "Education": "education",
        "Customer Lifetime Value": "customer_lifetime_value",
        "Income": "income",
        "Monthly Premium Auto": "monthly_premium_auto",
        "Number of Open Complaints": "number_of_open_complaints",
        "Policy Type": "policy_type",
        "Vehicle Class": "vehicle_class",
        "Total Claim Amount": "total_claim_amount"
}, inplace=True)

df

     customer       state  ...  vehicle_class total_claim_amount
0     RB50392  Washington  ...  Four-Door Car           2.704934
1     QZ44356     Arizona  ...  Four-Door Car        1131.464935
2     AI49188      Nevada  ...   Two-Door Car         566.472247
3     WW63253  California  ...            SUV         529.881344
4     GA49547  Washington  ...  Four-Door Car          17.269323
...       ...         ...  ...            ...                ...
4003      NaN         NaN  ...            NaN                NaN
4004      NaN         NaN  ...            NaN                NaN
4005      NaN         NaN  ...            NaN                NaN
4006      NaN         NaN  ...            NaN                NaN
4007      NaN         NaN  ...            NaN                NaN

[4008 rows x 11 columns]

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [193]:
gender_mapping = {
    'F': 'F',
    'Femal': 'F',
    'female': 'F',
    'M': 'M',
    'Male': 'M'
}

df['gender'] = df['gender'].replace(gender_mapping)
df.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [196]:
#map_state(df)
state_mapping = {
    "AZ": "Arizona",
    "CA": "California",
    "WA": "Washington",
    "Cali": "California",
    "OR": "Oregon"
}
df['state'] = df['state'].replace(state_mapping)

In [194]:
#map_education(df)
df['education'] = df['education'].replace("Bachelors", "Bachelor")

In [197]:
#clean_customer_lifetime_value(df)
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str) #convert to string
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '') #use the str method to remove the '%' character
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float) #convert to float

In [199]:
#map_vehicle(df)
car_mapping = {
    'Luxury Car': 'Luxury',
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
}

df['vehicle_class'] = df['vehicle_class'].replace(car_mapping)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [176]:
#convert_open_complaints(df)
df['number_of_open_complaints'].unique()
df["number_of_open_complaints"] = df["number_of_open_complaints"].str.split('/').str[1]
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
df['number_of_open_complaints'].unique()

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [177]:
# Your code here
#df.isnull()
#df.isna().any()

In [200]:
#df.isna().sum()
df = df.dropna(how='all')

In [180]:
#df.isna().sum() #checking for remaining missing values

In [202]:
#fill_na(df)
df['gender'] = df['gender'].fillna('Unknown')

/var/folders/vp/y35h7cns1893095_3t9y959w0000gn/T/ipykernel_23798/1625313679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].fillna('Unknown')

In [204]:
customer_mean = df.customer_lifetime_value.mean()
df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(customer_mean)

/var/folders/vp/y35h7cns1893095_3t9y959w0000gn/T/ipykernel_23798/3619191209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(customer_mean)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
 df.drop_duplicates(subset=['customer'])

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [184]:
# Your code here
preprocess_data(df)

/Users/lasmaoficierecakste/Documents/GitHub/lab-dw-data-cleaning-and-formatting/Functions.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/lasmaoficierecakste/Documents/GitHub/lab-dw-data-cleaning-and-formatting/Functions.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/lasmaoficierecakste/Documents/GitHub/lab-dw-data-cleaning-and-formatting/Functions.py:130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     customer       state  ...  vehicle_class total_claim_amount
0     RB50392  Washington  ...  Four-Door Car           2.704934
1     QZ44356     Arizona  ...  Four-Door Car        1131.464935
2     AI49188      Nevada  ...   Two-Door Car         566.472247
3     WW63253  California  ...            SUV         529.881344
4     GA49547  Washington  ...  Four-Door Car          17.269323
...       ...         ...  ...            ...                ...
1066  TM65736      Oregon  ...  Four-Door Car         361.455219
1067  VJ51327  California  ...            SUV         207.320041
1068  GS98873     Arizona  ...  Four-Door Car         633.600000
1069  CW49887  California  ...            SUV         547.200000
1070  MY31220  California  ...   Two-Door Car         537.600000

[1071 rows x 11 columns]

In [187]:
df.number_of_open_complaints.unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [185]:
# Your code here